<h2 class="container text-center">Use This Page For Logged In Users Only </h2>

<div class="container text-center">
<img src='/images/secret.gif' style="max-width: 200px;">
<br><br>
<img src='/images/unicorn.gif' style="max-width: 200px;">
</div>
